<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TagServer" value="00 00 42 10 01 60 02 00"/>
    <add key="TagClient" value="07 00 02 E5|FD 00 00 00 15 10 00 CB"/>
    <add key="NurseServer" value="10.10.5.25,25006"/>
    <add key="ListenPort" value="1111"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>